@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<header>
    <style>
        #bodyrenderid{
            background-image: linear-gradient(to top, #15f20d, #00f16a, #00ee9c, #00e9bf, #00e2d5, #2ee3d1, #43e3cd, #52e4ca, #66ebab, #90ef83, #c2ef57, #f9e827);
        }
    </style>
</header>